RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/desdata
/keymap.h
/parity.h
/rotors.h
/stamp-h
/stamp-h.in
